# Lab | Web Scraping

Welcome to the "Books to Scrape" Web Scraping Adventure Lab!

**Objective**

In this lab, we will embark on a mission to unearth valuable insights from the data available on Books to Scrape, an online platform showcasing a wide variety of books. As data analyst, you have been tasked with scraping a specific subset of book data from Books to Scrape to assist publishing companies in understanding the landscape of highly-rated books across different genres. Your insights will help shape future book marketing strategies and publishing decisions.

**Background**

In a world where data has become the new currency, businesses are leveraging big data to make informed decisions that drive success and profitability. The publishing industry, much like others, utilizes data analytics to understand market trends, reader preferences, and the performance of books based on factors such as genre, author, and ratings. Books to Scrape serves as a rich source of such data, offering detailed information about a diverse range of books, making it an ideal platform for extracting insights to aid in informed decision-making within the literary world.

**Task**

Your task is to create a Python script using BeautifulSoup and pandas to scrape Books to Scrape book data, focusing on book ratings and genres. The script should be able to filter books with ratings above a certain threshold and in specific genres. Additionally, the script should structure the scraped data in a tabular format using pandas for further analysis.

**Expected Outcome**

A function named `scrape_books` that takes two parameters: `min_rating` and `max_price`. The function should scrape book data from the "Books to Scrape" website and return a `pandas` DataFrame with the following columns:

**Expected Outcome**

- A function named `scrape_books` that takes two parameters: `min_rating` and `max_price`.
- The function should return a DataFrame with the following columns:
  - **UPC**: The Universal Product Code (UPC) of the book.
  - **Title**: The title of the book.
  - **Price (£)**: The price of the book in pounds.
  - **Rating**: The rating of the book (1-5 stars).
  - **Genre**: The genre of the book.
  - **Availability**: Whether the book is in stock or not.
  - **Description**: A brief description or product description of the book (if available).
  
You will execute this script to scrape data for books with a minimum rating of `4.0 and above` and a maximum price of `£20`. 

Remember to experiment with different ratings and prices to ensure your code is versatile and can handle various searches effectively!

**Resources**

- [Beautiful Soup Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [Books to Scrape](https://books.toscrape.com/)

**Hint**

Your first mission is to familiarize yourself with the **Books to Scrape** website. Navigate to [Books to Scrape](http://books.toscrape.com/) and explore the available books to understand their layout and structure. 

Next, think about how you can set parameters for your data extraction:

- **Minimum Rating**: Focus on books with a rating of 4.0 and above.
- **Maximum Price**: Filter for books priced up to £20.

After reviewing the site, you can construct a plan for scraping relevant data. Pay attention to the details displayed for each book, including the title, price, rating, and availability. This will help you identify the correct HTML elements to target with your scraping script.

Make sure to build your scraping URL and logic based on the patterns you observe in the HTML structure of the book listings!


---

**Best of luck! Immerse yourself in the world of books, and may the data be with you!**

**Important Note**:

In the fast-changing online world, websites often update and change their structures. When you try this lab, the **Books to Scrape** website might differ from what you expect.

If you encounter issues due to these changes, like new rules or obstacles preventing data extraction, don’t worry! Get creative.

You can choose another website that interests you and is suitable for scraping data. Options like Wikipedia, The New York Times, or even library databases are great alternatives. The main goal remains the same: extract useful data and enhance your web scraping skills while exploring a source of information you enjoy. This is your opportunity to practice and adapt to different web environments!

In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (2.32.4)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.13.4-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: pandas in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from requests) (2025.6.15)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.7-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (4.14.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading beautifulsoup4-4.13.4-py3-none-any.whl (187 kB)
Downloading soupsieve-2.7-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4

   ---------------------------------------- 2/2 [beautifulsoup4]

Successfully installed beautifulsoup4-4.13.4 soupsieve-2.7

In [3]:
import requests           # To make HTTP requests
from bs4 import BeautifulSoup    # To parse HTML content
import pandas as pd     # To store and process the scraped data
import time       # To add delay between requests

In [7]:
def scrape_books(min_rating=4, max_price=20):
    # Base URL of the site
    base_url = "http://books.toscrape.com/catalogue/page-{}.html"

    # Dictionary to convert text rating (e.g., "Four") into numeric (e.g., 4)
    # HTML contains class="star-rating Four", so we need to translate that
    rating_dict = {
        "One": 1,
        "Two": 2,
        "Three": 3,
        "Four": 4,
        "Five": 5
    }

    # List to collect all books
    books_data = []

    # Loop through all 50 pages of the site
    for page in range(1, 51):
        print(f"Scraping page {page}...")
        url = base_url.format(page)
        response = requests.get(url)

         # Check if the request was successful
        if response.status_code != 200:
            print(f"Failed to load page {page}, skipping.")
            continue

        # Parse the HTML of the current page
        soup = BeautifulSoup(response.content, "html.parser")
        books = soup.find_all("article", class_="product_pod")

        # Loop through all books on the current page
        for book in books:
            # Extract rating from  <p class="star-rating Five">
            rating_class = book.find("p", class_="star-rating")["class"][1]
            rating = rating_dict.get(rating_class, 0) # Convert text to number

            # Filter by minimum rating
            if rating < min_rating:
               continue

            # Get title and link to the detail page
            title = book.h3.a.get("title") or book.h3.a.get_text(strip=True)
            link = "http://books.toscrape.com/catalogue/" + book.h3.a["href"]

            try:
                # Request book detail page
                book_response = requests.get(link)
                if book_response.status_code != 200:
                    print(f"Failed to load book detail page: {link}")
                    continue

                book_soup = BeautifulSoup(book_response.content, "html.parser")

                # Extract price and convert to float
                price_text = book_soup.find("p", class_="price_color").text.strip()
                price = float(price_text[1:])  # Remove '£' and convert

                # Filter by max price
                if price > max_price:
                   continue

                # Get UPC (from product info table)
                upc = book_soup.find("th", string="UPC").find_next("td").text

                # Get availability
                availability = book_soup.find("p", class_="instock availability").get_text(strip=True)

                # Get description (if exists)
                description_tag = book_soup.find("meta", attrs={"name": "description"})
                description = description_tag["content"].strip() if description_tag else "No description"

                # Get genre (from breadcrumb navigation)
                genre = book_soup.find("ul", class_="breadcrumb").find_all("li")[2].text.strip()

                # Add book data to the list
                books_data.append({
                "UPC": upc,
                "Title": title,
                "Price (£)": price,
                "Rating": rating,
                "Genre": genre,
                "Availability": availability,
                "Description": description
                })

                # Be nice to the server
                time.sleep(0.5)

            except Exception as e:
                print(f"Error scraping book: {e}")
                continue

    # Convert list of books into a pandas DataFrame
    df = pd.DataFrame(books_data)
    return df

In [8]:
# Run the function to scrape books with rating ≥ 4 and price ≤ 20
books_df = scrape_books(min_rating=4, max_price=20)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...
Scraping page 7...
Scraping page 8...
Scraping page 9...
Scraping page 10...
Scraping page 11...
Scraping page 12...
Scraping page 13...
Scraping page 14...
Scraping page 15...
Scraping page 16...
Scraping page 17...
Scraping page 18...
Scraping page 19...
Scraping page 20...
Scraping page 21...
Scraping page 22...
Scraping page 23...
Scraping page 24...
Scraping page 25...
Scraping page 26...
Scraping page 27...
Scraping page 28...
Scraping page 29...
Scraping page 30...
Scraping page 31...
Scraping page 32...
Scraping page 33...
Scraping page 34...
Scraping page 35...
Scraping page 36...
Scraping page 37...
Scraping page 38...
Scraping page 39...
Scraping page 40...
Scraping page 41...
Scraping page 42...
Scraping page 43...
Scraping page 44...
Scraping page 45...
Scraping page 46...
Scraping page 47...
Scraping page 48...
Scraping page 49...
Scraping page 50...

In [9]:
# View first few rows
books_df.head()

,UPC,Title,Price (£),Rating,Genre,Availability,Description
0,ce6396b0f23f6ecc,Set Me Free,17.46,5,Young Adult,In stock (19 available),Aaron Ledbetter’s future had been planned out ...
1,6258a1f6a6dcfe50,The Four Agreements: A Practical Guide to Pers...,17.66,5,Spirituality,In stock (18 available),"In The Four Agreements, don Miguel Ruiz reveal..."
2,6be3beb0793a53e7,Sophie's World,15.94,5,Philosophy,In stock (18 available),A page-turning novel that is also an explorati...
3,657fe5ead67a7767,Untitled Collection: Sabbath Poems 2014,14.27,4,Poetry,In stock (16 available),"More than thirty-five years ago, when the weat..."
4,51653ef291ab7ddc,This One Summer,19.49,4,Sequential Art,In stock (16 available),"Every summer, Rose goes with her mom and dad t..."

In [10]:
books_df.shape

(75, 7)

In [12]:
books_df.isnull().sum()

UPC             0
Title           0
Price (£)       0
Rating          0
Genre           0
Availability    0
Description     0
dtype: int64

In [14]:
books_by_rating = books_df["Rating"].value_counts().sort_index().reset_index()
books_by_rating.columns = ["Rating", "Number of Books"]
books_by_rating

   Rating  Number of Books
0       4               33
1       5               42

In [13]:
books_by_genre = books_df["Genre"].value_counts().reset_index()
books_by_genre.columns = ["Genre", "Number of Books"]
books_by_genre

                 Genre  Number of Books
0              Default               10
1       Sequential Art                9
2          Young Adult                7
3           Nonfiction                6
4              Fiction                5
5               Poetry                4
6       Food and Drink                4
7              Fantasy                3
8              Romance                3
9           Philosophy                2
10           Childrens                2
11       Add a comment                2
12             Science                2
13      Womens Fiction                2
14               Humor                2
15             Erotica                1
16            Business                1
17        Spirituality                1
18                 Art                1
19   Christian Fiction                1
20            Classics                1
21              Horror                1
22       Autobiography                1
23     Science Fiction                1
24       Adult Fiction                1
25             Mystery                1
26  Historical Fiction                1